<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeanboy.app.training">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.AnimButtonActivity"></activity>
        <activity android:name=".ui.activity.ViewActivity" />
        <activity android:name=".ui.activity.NetworkActivity" />
        <activity android:name=".ui.activity.PatchActivity" />
        <activity android:name=".ui.activity.TaskAffinity3Activity" />
        <activity
            android:name=".ui.activity.TaskAffinity2Activity"
            android:launchMode="singleTask"
            android:taskAffinity="com.jeanboy.app.activity.task2" />
        <activity
            android:name=".ui.activity.TaskAffinityActivity"
            android:allowTaskReparenting="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.jeanboy.task.test" />
        <activity android:name=".ui.activity.MdTabLayoutActivity" />
        <activity android:name=".ui.activity.MdSheetBottomActivity" />
        <activity
            android:name=".ui.activity.MdCollapsingToolbarLayoutActivity"
            android:theme="@style/CollapsingActivityTheme" />
        <activity android:name=".ui.activity.MdAppBarLayoutActivity" />
        <activity android:name=".ui.activity.MdCardViewActivity" />
        <activity android:name=".ui.activity.MdFloatingActionButtonActivity" />
        <activity android:name=".ui.activity.MdDrawerLayoutActivity" />
        <activity
            android:name=".ui.activity.MdToolbarActivity"
            android:label="Toolbar 示例" />
        <activity android:name=".ui.activity.MaterialDesignActivity" />
        <activity android:name=".ui.activity.LayoutCardActivity" />
        <activity android:name=".ui.activity.LayoutHorizontalActivity" />
        <activity android:name=".ui.activity.RecyclerViewActivity" />
        <activity android:name=".ui.activity.ListViewActivity" />
        <activity android:name=".ui.activity.PermissionActivity" />
        <activity android:name=".ui.activity.RemoteViewActivity" />
        <activity android:name=".ui.activity.ContentProviderActivity" />
        <activity android:name=".ui.activity.BroadcastActivity" />
        <activity android:name=".ui.activity.ServiceActivity" />
        <activity android:name=".ui.activity.FragmentActivity" />
        <activity
            android:name=".ui.activity.TransparentActivity"
            android:theme="@style/translucent" />
        <activity
            android:name=".ui.activity.ScreenConfigActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".ui.activity.TestActivity" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:persistableMode="persistAcrossReboots">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".ui.provider.MyProvider"
            android:authorities="com.jeanboy.myprovider" />

        <receiver android:name=".ui.widget.TestWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.jeanboy.widget.button.CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider_test" />
        </receiver>
        <receiver android:name=".ui.broadcast.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.broadcast.MyReceiver">

            <!-- <intent-filter> -->
            <!-- 注册全局广播，接收开机广播 -->
            <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
            <!-- </intent-filter> -->
        </receiver>

        <service
            android:name=".ui.service.AIDLService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ui.service.TestIntentService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ui.service.ForegroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ui.service.TestService"
            android:enabled="true"
            android:exported="true">

            <!-- <intent-filter android:priority="1000"/> -->
        </service>
    </application>

</manifest>