<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeanboy.app.training">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MdCollapsingToolbarLayoutActivity"
            android:theme="@style/CollapsingActivityTheme"></activity>
        <activity android:name=".ui.activity.MdAppBarLayoutActivity" />
        <activity android:name=".ui.activity.MdCardViewActivity" />
        <activity android:name=".ui.activity.MdFloatingActionButtonActivity" />
        <activity android:name=".ui.activity.MdDrawerLayoutActivity" />
        <activity
            android:name=".ui.activity.MdToolbarActivity"
            android:label="Toolbar 示例" />
        <activity android:name=".ui.activity.MaterialDesignActivity" />
        <activity android:name=".ui.activity.LayoutCardActivity" />
        <activity android:name=".ui.activity.LayoutHorizontalActivity" />
        <activity android:name=".ui.activity.RecyclerViewActivity" />
        <activity android:name=".ui.activity.ListViewActivity" />
        <activity android:name=".ui.activity.PermissionActivity" />

        <receiver android:name=".ui.widget.TestWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.jeanboy.widget.button.CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider_test" />
        </receiver>

        <activity android:name=".ui.activity.RemoteViewActivity" />

        <provider
            android:name=".ui.provider.MyProvider"
            android:authorities="com.jeanboy.myprovider" />

        <activity android:name=".ui.activity.ContentProviderActivity" />

        <receiver android:name=".ui.broadcast.MyReceiver">
            <intent-filter>

                <!-- 注册全局广播，接收开机广播 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.activity.BroadcastActivity" />

        <service
            android:name=".ui.service.AIDLService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ui.service.TestIntentService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ui.service.ForegroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ui.service.TestService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.activity.ServiceActivity" />
        <activity android:name=".ui.activity.FragmentActivity" />
        <activity
            android:name=".ui.activity.TransparentActivity"
            android:theme="@style/translucent" />
        <activity
            android:name=".ui.activity.ScreenConfigActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".ui.activity.TestActivity" />
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>